<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bt.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Add Topic</title>
</head>
<body>
    <h1>One Million Arab Coders Forums</h1>
<ul>
    <li><a href="#">Members</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
</ul>
<br>
<div>
     <form action="{{ url_for('add_topic') }}" method="post">
        <label for="title"><b>Title: </b></label>
        <br>
        <input type="text" name="title" />
        <br>
        <label for="title"><b>Content: </b></label>
        <br>
        <textarea rows="10" name="content"></textarea>
        <br>
        <input type="submit" value="Add" />

    </form>
</div>
   
</body>
</html>